Purpose: analyze the splits for direct prompt datasets and self ask prompt datasets

In [3]:
!pip install pytest
!pip install sentencepiece
!pip install tokenizers
!pip install nltk
!pip install loguru

# from google.colab import drive
# drive.mount('/content/drive/')

Requirement already satisfied: pytest in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (7.3.1)
Requirement already satisfied: iniconfig in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (from pytest) (1.1.1)
Requirement already satisfied: packaging in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (from pytest) (23.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (from pytest) (1.0.0)
Requirement already satisfied: sentencepiece in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (0.1.99)
Requirement already satisfied: tokenizers in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (0.13.3)
Requirement already satisfied: nltk in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: click in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (from nltk) (1.3.0)
Requirement already satisfied: regex>=2021.8.3 in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (from nltk) (2022.7.9)
Requirement already satisfied: tqdm in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (from nltk) (4.65.0)
Requirement already satisfied: loguru in /Users/adamweinberger/opt/anaconda3/envs/compositional_reasoning_finetuning/lib/python3.11/site-packages (0.7.0)

In [4]:
# %cd drive/MyDrive/projects/compositional-reasoning-finetuning

In [5]:
import json
from token_stats import extract_token_counts, summarize_token_counts

In [6]:
path = "data/FinetuningData/"

## Train Set: Direct Prompting

In [7]:
direct_train_counts = extract_token_counts("direct", "train")
direct_train_stats = summarize_token_counts(direct_train_counts)
direct_train_stats

Extracting token counts for direct-train split: 100%|████████████████████████████| 105479/105479 [00:00<00:00, 2504733.01it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count            105479.00             105479.0           105479.00
mean                 95.75                  2.7               98.44
std                  16.86                  2.0               17.07
min                  41.00                  1.0               44.00
25%                  83.00                  1.0               86.00
50%                  95.00                  3.0               98.00
75%                 108.00                  4.0              111.00
max                 130.00                 23.0              150.00
sum            10099174.00             284678.0         10383852.00

In [9]:
# open json file for direct prompt training examples
with open(path + "direct_train.json", "r") as f:
    direct_train = json.load(f)

In [10]:
direct_train[:2]

[{'prompt': "Facts:\nFact #0: Egan was the wife of the state of Alaska's first governor, William Allen Egan, and the mother of former Juneau Mayor and Alaska State Senator Dennis Egan.\nFact #1: William Allen Egan (October 8, 1914 – May 6, 1984) was an American Democratic politician.\n\nQuestion: When was Neva Egan's husband born?\nAnswer:",
  'target': 'October 8, 1914',
  'num_prompt_tokens': 81,
  'num_target_tokens': 3,
  'num_tokens': 84},
 {'prompt': 'Facts:\nFact #0: Alejo Mancisidor( born 31 July 1970) is a former professional tennis player from Spain.\nFact #1: Emil Leyde( 8 January 1879 in Kassel – ca. 1924) was a German film director, screenwriter, cameraman and film producer.\n\nQuestion: Who was born first, Alejo Mancisidor or Emil Leyde?\nAnswer:',
  'target': 'Emil Leyde',
  'num_prompt_tokens': 92,
  'num_target_tokens': 4,
  'num_tokens': 96}]

In [11]:
print(direct_train[0]["prompt"])
print(direct_train[0]["target"])

Facts:
Fact #0: Egan was the wife of the state of Alaska's first governor, William Allen Egan, and the mother of former Juneau Mayor and Alaska State Senator Dennis Egan.
Fact #1: William Allen Egan (October 8, 1914 – May 6, 1984) was an American Democratic politician.

Question: When was Neva Egan's husband born?
Answer:
October 8, 1914

In [12]:
del direct_train

## Dev Set: Direct Prompting

In [13]:
direct_dev_counts = extract_token_counts("direct", "dev")
direct_dev_stats = summarize_token_counts(direct_dev_counts)
direct_dev_stats

Extracting token counts for direct-dev split: 100%|██████████████████████████████████| 8657/8657 [00:00<00:00, 2328913.46it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count              8657.00              8657.00             8657.00
mean                 95.91                 2.74               98.65
std                  17.05                 2.05               17.28
min                  41.00                 1.00               47.00
25%                  83.00                 1.00               86.00
50%                  95.00                 3.00               98.00
75%                 109.00                 4.00              112.00
max                 130.00                18.00              142.00
sum              830310.00             23723.00           854033.00

In [14]:
# open json file for direct prompt dev examples
with open(path + "direct_dev.json", "r") as f:
    direct_dev = json.load(f)

In [15]:
direct_dev[:2]

[{'prompt': 'Facts:\nFact #0: Éric Deflandre( born 2 August 1973 in Rocourt) is a former Belgian football right fullback.\nFact #1: Polly Swann( born 5 June 1988) is a British rower and a member of the Great Britain Rowing Team.\n\nQuestion: Who was born earlier, Polly Swann or Éric Deflandre?\nAnswer:',
  'target': 'Éric Deflandre',
  'num_prompt_tokens': 87,
  'num_target_tokens': 7,
  'num_tokens': 94},
 {'prompt': 'Facts:\nFact #0: The film was written, adapted and directed by Russian-born Arcady Boytler.\nFact #1: Boytler was born in Moscow, Russia.\n\nQuestion: Where was the director of film Heads Or Tails (1937 Film) born?\nAnswer:',
  'target': 'Moscow',
  'num_prompt_tokens': 60,
  'num_target_tokens': 1,
  'num_tokens': 61}]

In [16]:
print(direct_dev[0]["prompt"])
print(direct_dev[0]["target"])

Facts:
Fact #0: Éric Deflandre( born 2 August 1973 in Rocourt) is a former Belgian football right fullback.
Fact #1: Polly Swann( born 5 June 1988) is a British rower and a member of the Great Britain Rowing Team.

Question: Who was born earlier, Polly Swann or Éric Deflandre?
Answer:
Éric Deflandre

In [17]:
del direct_dev

## Train Set: Self-Ask

In [18]:
self_ask_train_counts = extract_token_counts("self_ask", "train")
self_ask_train_stats = summarize_token_counts(self_ask_train_counts)
self_ask_train_stats

Extracting token counts for self_ask-train split: 100%|██████████████████████████| 102026/102026 [00:00<00:00, 2850611.25it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count            102026.00            102026.00           102026.00
mean                268.64                54.03              322.66
std                  16.01                 8.52               19.55
min                 215.00                38.00              260.00
25%                 257.00                49.00              309.00
50%                 268.00                52.00              322.00
75%                 281.00                57.00              336.00
max                 300.00               180.00              464.00
sum            27408157.00           5512024.00         32920181.00

In [19]:
import pandas as pd
df = pd.DataFrame(self_ask_train_counts)
df.loc[df.prompt_token_counts < 450, :].shape[0] / df.shape[0]

1.0

In [20]:
# open json file for self ask prompt training examples
with open(path + "self_ask_train.json", "r") as f:
    self_ask_train = json.load(f)

In [21]:
self_ask_train[:2]

[{'prompt': "Examples:\nSTART\nQuestion: When was Neva Egan's husband born?\nAre follow up questions needed here: Yes.\nFollow up: Who is the spouse of Neva Egan?\nIntermediate answer: William Allen Egan\nFollow up: When is the date of birth of William Allen Egan?\nIntermediate answer: October 8, 1914\nSo the final answer is: October 8, 1914\nEND\n\nSTART\nQuestion: Who was born first, Alejo Mancisidor or Emil Leyde?\nAre follow up questions needed here: Yes.\nFollow up: When is the date of birth of Alejo Mancisidor?\nIntermediate answer: 31 July 1970\nFollow up: When is the date of birth of Emil Leyde?\nIntermediate answer: 8 January 1879\nSo the final answer is: Emil Leyde\nEND\n\nFacts:\nFact #0: Solo is a 2006 Australian film directed by Morgan O'Neill and starring Colin Friels.\nFact #1: Morgan O'Neill (born 19 April 1973 in Sydney, Australia) is an Australian writer, director, actor and producer.\n\nQuestion: What is the place of birth of the director of film Solo (2006 Film)?\nAre follow up questions needed here:\n",
  'target': "Yes.\nFollow up: What is the director of Solo?\nIntermediate answer: Morgan O'Neill\nFollow up: What is the place of birth of Morgan O'Neill?\nIntermediate answer: Sydney, Australia\nSo the final answer is: Sydney, Australia\n",
  'num_prompt_tokens': 250,
  'num_target_tokens': 49,
  'num_tokens': 299},
 {'prompt': "Examples:\nSTART\nQuestion: When was Neva Egan's husband born?\nAre follow up questions needed here: Yes.\nFollow up: Who is the spouse of Neva Egan?\nIntermediate answer: William Allen Egan\nFollow up: When is the date of birth of William Allen Egan?\nIntermediate answer: October 8, 1914\nSo the final answer is: October 8, 1914\nEND\n\nSTART\nQuestion: Who was born first, Alejo Mancisidor or Emil Leyde?\nAre follow up questions needed here: Yes.\nFollow up: When is the date of birth of Alejo Mancisidor?\nIntermediate answer: 31 July 1970\nFollow up: When is the date of birth of Emil Leyde?\nIntermediate answer: 8 January 1879\nSo the final answer is: Emil Leyde\nEND\n\nFacts:\nFact #0: The film also featured Manivannan, Thalaivasal Vijay and Charle in pivotal roles, while music was composed by S. A. Rajkumar.\nFact #1: S. A. Rajkumar is an Indian film music director who hails from Chennai, Tamil Nadu.\n\nQuestion: Where was the composer of film Ennavale born?\nAre follow up questions needed here:\n",
  'target': 'Yes.\nFollow up: Who is the composer of Ennavale?\nIntermediate answer: S. A. Rajkumar\nFollow up: What is the place of birth of S. A. Rajkumar?\nIntermediate answer: Chennai\nSo the final answer is: Chennai\n',
  'num_prompt_tokens': 262,
  'num_target_tokens': 54,
  'num_tokens': 316}]

In [22]:
print(self_ask_train[0]["prompt"])
print(self_ask_train[0]["target"])

Examples:
START
Question: When was Neva Egan's husband born?
Are follow up questions needed here: Yes.
Follow up: Who is the spouse of Neva Egan?
Intermediate answer: William Allen Egan
Follow up: When is the date of birth of William Allen Egan?
Intermediate answer: October 8, 1914
So the final answer is: October 8, 1914
END

START
Question: Who was born first, Alejo Mancisidor or Emil Leyde?
Are follow up questions needed here: Yes.
Follow up: When is the date of birth of Alejo Mancisidor?
Intermediate answer: 31 July 1970
Follow up: When is the date of birth of Emil Leyde?
Intermediate answer: 8 January 1879
So the final answer is: Emil Leyde
END

Facts:
Fact #0: Solo is a 2006 Australian film directed by Morgan O'Neill and starring Colin Friels.
Fact #1: Morgan O'Neill (born 19 April 1973 in Sydney, Australia) is an Australian writer, director, actor and producer.

Question: What is the place of birth of the director of film Solo (2006 Film)?
Are follow up questions needed here:

Yes.
Follow up: What is the director of Solo?
Intermediate answer: Morgan O'Neill
Follow up: What is the place of birth of Morgan O'Neill?
Intermediate answer: Sydney, Australia
So the final answer is: Sydney, Australia

In [23]:
del self_ask_train

## Dev Set: Self-Ask

In [24]:
self_ask_dev_counts = extract_token_counts("self_ask", "dev")
self_ask_dev_stats = summarize_token_counts(self_ask_dev_counts)
self_ask_dev_stats

Extracting token counts for self_ask-dev split: 100%|████████████████████████████████| 8367/8367 [00:00<00:00, 2095899.52it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count              8367.00              8367.00             8367.00
mean                268.78                54.22              323.00
std                  16.21                 8.52               19.82
min                 215.00                38.00              266.00
25%                 257.00                49.00              309.00
50%                 269.00                53.00              322.00
75%                 281.00                57.00              336.00
max                 300.00               131.00              428.00
sum             2248891.00            453666.00          2702557.00

In [25]:
import pandas as pd
df = pd.DataFrame(self_ask_dev_counts)
df.loc[df.prompt_token_counts < 450, :].shape[0] / df.shape[0]

1.0

In [26]:
# open json file for self ask prompt dev examples
with open(path + "self_ask_dev.json", "r") as f:
    self_ask_dev = json.load(f)

In [27]:
self_ask_dev[:2]

[{'prompt': "Examples:\nSTART\nQuestion: When was Neva Egan's husband born?\nAre follow up questions needed here: Yes.\nFollow up: Who is the spouse of Neva Egan?\nIntermediate answer: William Allen Egan\nFollow up: When is the date of birth of William Allen Egan?\nIntermediate answer: October 8, 1914\nSo the final answer is: October 8, 1914\nEND\n\nSTART\nQuestion: Who was born first, Alejo Mancisidor or Emil Leyde?\nAre follow up questions needed here: Yes.\nFollow up: When is the date of birth of Alejo Mancisidor?\nIntermediate answer: 31 July 1970\nFollow up: When is the date of birth of Emil Leyde?\nIntermediate answer: 8 January 1879\nSo the final answer is: Emil Leyde\nEND\n\nFacts:\nFact #0: Éric Deflandre( born 2 August 1973 in Rocourt) is a former Belgian football right fullback.\nFact #1: Polly Swann( born 5 June 1988) is a British rower and a member of the Great Britain Rowing Team.\n\nQuestion: Who was born earlier, Polly Swann or Éric Deflandre?\nAre follow up questions needed here:\n",
  'target': 'Yes.\nFollow up: When is the date of birth of Éric Deflandre?\nIntermediate answer: 2 August 1973\nFollow up: When is the date of birth of Polly Swann?\nIntermediate answer: 5 June 1988\nSo the final answer is: Éric Deflandre\n',
  'num_prompt_tokens': 261,
  'num_target_tokens': 60,
  'num_tokens': 321},
 {'prompt': "Examples:\nSTART\nQuestion: When was Neva Egan's husband born?\nAre follow up questions needed here: Yes.\nFollow up: Who is the spouse of Neva Egan?\nIntermediate answer: William Allen Egan\nFollow up: When is the date of birth of William Allen Egan?\nIntermediate answer: October 8, 1914\nSo the final answer is: October 8, 1914\nEND\n\nSTART\nQuestion: Who was born first, Alejo Mancisidor or Emil Leyde?\nAre follow up questions needed here: Yes.\nFollow up: When is the date of birth of Alejo Mancisidor?\nIntermediate answer: 31 July 1970\nFollow up: When is the date of birth of Emil Leyde?\nIntermediate answer: 8 January 1879\nSo the final answer is: Emil Leyde\nEND\n\nFacts:\nFact #0: The film was written, adapted and directed by Russian-born Arcady Boytler.\nFact #1: Boytler was born in Moscow, Russia.\n\nQuestion: Where was the director of film Heads Or Tails (1937 Film) born?\nAre follow up questions needed here:\n",
  'target': 'Yes.\nFollow up: Who is the director of Águila o sol?\nIntermediate answer: Arcady Boytler\nFollow up: What is the place of birth of Arcady Boytler?\nIntermediate answer: Moscow\nSo the final answer is: Moscow\n',
  'num_prompt_tokens': 234,
  'num_target_tokens': 55,
  'num_tokens': 289}]

In [28]:
print(self_ask_dev[0]["prompt"])
print(self_ask_dev[0]["target"])

Examples:
START
Question: When was Neva Egan's husband born?
Are follow up questions needed here: Yes.
Follow up: Who is the spouse of Neva Egan?
Intermediate answer: William Allen Egan
Follow up: When is the date of birth of William Allen Egan?
Intermediate answer: October 8, 1914
So the final answer is: October 8, 1914
END

START
Question: Who was born first, Alejo Mancisidor or Emil Leyde?
Are follow up questions needed here: Yes.
Follow up: When is the date of birth of Alejo Mancisidor?
Intermediate answer: 31 July 1970
Follow up: When is the date of birth of Emil Leyde?
Intermediate answer: 8 January 1879
So the final answer is: Emil Leyde
END

Facts:
Fact #0: Éric Deflandre( born 2 August 1973 in Rocourt) is a former Belgian football right fullback.
Fact #1: Polly Swann( born 5 June 1988) is a British rower and a member of the Great Britain Rowing Team.

Question: Who was born earlier, Polly Swann or Éric Deflandre?
Are follow up questions needed here:

Yes.
Follow up: When is the date of birth of Éric Deflandre?
Intermediate answer: 2 August 1973
Follow up: When is the date of birth of Polly Swann?
Intermediate answer: 5 June 1988
So the final answer is: Éric Deflandre

In [29]:
del self_ask_dev

## Test Set: Direct Prompting (no examplars)

In [30]:
direct_test_counts = extract_token_counts("direct", "test", examplars=False)
direct_test_stats = summarize_token_counts(direct_test_counts)
direct_test_stats

Extracting token counts for direct-test split: 100%|███████████████████████████████| 12576/12576 [00:00<00:00, 2691751.74it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count             12576.00             12576.00            12576.00
mean                122.59                 4.49              127.08
std                  42.33                 3.26               43.07
min                  44.00                 1.00               48.00
25%                  91.00                 2.00               95.00
50%                 111.00                 4.00              115.00
75%                 147.00                 6.00              152.00
max                 353.00                36.00              355.00
sum             1541736.00             56452.00          1598188.00

In [31]:
with open("data/MultihopEvaluation/direct-without-examplars.json", "r") as f:
    test = json.load(f)

In [34]:
test[0]

{'prompt': 'Facts:\nFact #0: (Wojna polsko-ruska) is a 2009 Polish film directed by Xawery Żuławski based on the novel Polish-Russian War under the white-red flag by Dorota Masłowska.\nFact #1: He is the son of actress Małgorzata Braunek and director Andrzej Żuławski.\n\nQuestion: Who is the mother of the director of film Polish-Russian War (Film)?\nAnswer:',
 'target': 'Małgorzata Braunek',
 'answer': 'Małgorzata Braunek',
 'num_prompt_tokens': 122,
 'num_target_tokens': 10,
 'num_tokens': 132}

In [32]:
print(test[0]["prompt"])
print("------------------")
print(test[0]["target"])
print("------------------")
print(test[0]["answer"])

Facts:
Fact #0: (Wojna polsko-ruska) is a 2009 Polish film directed by Xawery Żuławski based on the novel Polish-Russian War under the white-red flag by Dorota Masłowska.
Fact #1: He is the son of actress Małgorzata Braunek and director Andrzej Żuławski.

Question: Who is the mother of the director of film Polish-Russian War (Film)?
Answer:
------------------
Małgorzata Braunek
------------------
Małgorzata Braunek

## Test Set: Self-Ask

### With Examplars

In [7]:
self_ask_test_counts = extract_token_counts("self-ask", "test", examplars=True)
self_ask_test_stats = summarize_token_counts(self_ask_test_counts)
self_ask_test_stats

Extracting token counts for self-ask-test split: 100%|██████████| 12576/12576 [00:00<00:00, 1086973.58it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count             12576.00             12576.00            12576.00
mean                296.59                69.02              365.61
std                  42.33                21.42               59.82
min                 218.00                39.00              266.00
25%                 265.00                53.00              321.00
50%                 285.00                60.00              346.00
75%                 321.00                86.00              403.00
max                 527.00               171.00              632.00
sum             3729960.00            867989.00          4597949.00

In [8]:
with open("data/MultihopEvaluation/self-ask-with-examplars.json", "r") as f:
    test = json.load(f)

In [9]:
print(test[0]["prompt"])
print("------------------")
print(test[0]["target"])
print("------------------")
print(test[0]["answer"])

Examples:
START
Question: When was Neva Egan's husband born?
Are follow up questions needed here: Yes.
Follow up: Who is the spouse of Neva Egan?
Intermediate answer: William Allen Egan
Follow up: When is the date of birth of William Allen Egan?
Intermediate answer: October 8, 1914
So the final answer is: October 8, 1914
END

START
Question: Who was born first, Alejo Mancisidor or Emil Leyde?
Are follow up questions needed here: Yes.
Follow up: When is the date of birth of Alejo Mancisidor?
Intermediate answer: 31 July 1970
Follow up: When is the date of birth of Emil Leyde?
Intermediate answer: 8 January 1879
So the final answer is: Emil Leyde
END

Facts:
Fact #0: (Wojna polsko-ruska) is a 2009 Polish film directed by Xawery Żuławski based on the novel Polish-Russian War under the white-red flag by Dorota Masłowska.
Fact #1: He is the son of actress Małgorzata Braunek and director Andrzej Żuławski.

Question: Who is the mother of the director of film Polish-Russian War (Film)?
Are follow up questions needed here:

------------------
Yes.
Follow up: Who is the director of Polish-Russian War?
Intermediate answer: Xawery Żuławski
Follow up: Who is the mother of Xawery Żuławski?
Intermediate answer: Małgorzata Braunek
So the final answer is: Małgorzata Braunek

------------------
Małgorzata Braunek

### Without Examplars

In [10]:
self_ask_test_counts = extract_token_counts("self-ask", "test", examplars=False)
self_ask_test_stats = summarize_token_counts(self_ask_test_counts)
self_ask_test_stats

Extracting token counts for self-ask-test split: 100%|██████████| 12576/12576 [00:00<00:00, 1180484.01it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count             12576.00             12576.00            12576.00
mean                127.59                69.02              196.61
std                  42.33                21.42               59.82
min                  49.00                39.00               97.00
25%                  96.00                53.00              152.00
50%                 116.00                60.00              177.00
75%                 152.00                86.00              234.00
max                 358.00               171.00              463.00
sum             1604616.00            867989.00          2472605.00

In [11]:
with open("data/MultihopEvaluation/self-ask-without-examplars.json", "r") as f:
    test = json.load(f)

In [12]:
print(test[0]["prompt"])
print("------------------")
print(test[0]["target"])
print("------------------")
print(test[0]["answer"])

Facts:
Fact #0: (Wojna polsko-ruska) is a 2009 Polish film directed by Xawery Żuławski based on the novel Polish-Russian War under the white-red flag by Dorota Masłowska.
Fact #1: He is the son of actress Małgorzata Braunek and director Andrzej Żuławski.

Question: Who is the mother of the director of film Polish-Russian War (Film)?
Are follow up questions needed here:

------------------
Yes.
Follow up: Who is the director of Polish-Russian War?
Intermediate answer: Xawery Żuławski
Follow up: Who is the mother of Xawery Żuławski?
Intermediate answer: Małgorzata Braunek
So the final answer is: Małgorzata Braunek

------------------
Małgorzata Braunek

## Test Set: Baseline

### With Examplars

In [13]:
squad_test_counts = extract_token_counts("baseline", "test", examplars=True)
squad_test_stats = summarize_token_counts(squad_test_counts)
squad_test_stats

Extracting token counts for baseline-test split: 100%|██████████| 12576/12576 [00:00<00:00, 623412.64it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count             12576.00             12576.00            12576.00
mean                280.27                69.02              349.29
std                  40.49                21.42               57.78
min                 203.00                39.00              251.00
25%                 250.00                53.00              306.00
50%                 270.00                60.00              331.00
75%                 304.00                86.00              386.00
max                 506.00               171.00              611.00
sum             3524714.00            867989.00          4392703.00

In [14]:
with open("data/MultihopEvaluation/baseline-with-examplars.json", "r") as f:
    test = json.load(f)

In [15]:
print(test[0]["prompt"])
print("------------------")
print(test[0]["target"])
print("------------------")
print(test[0]["answer"])

Examples:
START
Question: When was Neva Egan's husband born?
Are follow up questions needed here: Yes.
Follow up: Who is the spouse of Neva Egan?
Intermediate answer: William Allen Egan
Follow up: When is the date of birth of William Allen Egan?
Intermediate answer: October 8, 1914
So the final answer is: October 8, 1914
END

START
Question: Who was born first, Alejo Mancisidor or Emil Leyde?
Are follow up questions needed here: Yes.
Follow up: When is the date of birth of Alejo Mancisidor?
Intermediate answer: 31 July 1970
Follow up: When is the date of birth of Emil Leyde?
Intermediate answer: 8 January 1879
So the final answer is: Emil Leyde
END

question: Who is the mother of the director of film Polish-Russian War (Film)? context: (Wojna polsko-ruska) is a 2009 Polish film directed by Xawery Żuławski based on the novel Polish-Russian War under the white-red flag by Dorota Masłowska. He is the son of actress Małgorzata Braunek and director Andrzej Żuławski.
------------------
Yes.
Follow up: Who is the director of Polish-Russian War?
Intermediate answer: Xawery Żuławski
Follow up: Who is the mother of Xawery Żuławski?
Intermediate answer: Małgorzata Braunek
So the final answer is: Małgorzata Braunek

------------------
Małgorzata Braunek

### Without Examplars

In [16]:
squad_test_counts = extract_token_counts("baseline", "test", examplars=False)
squad_test_stats = summarize_token_counts(squad_test_counts)
squad_test_stats

Extracting token counts for baseline-test split: 100%|██████████| 12576/12576 [00:00<00:00, 522253.14it/s]

       prompt_token_counts  target_token_counts  total_token_counts
count             12576.00             12576.00            12576.00
mean                111.27                 4.49              115.76
std                  40.49                 3.26               41.23
min                  34.00                 1.00               38.00
25%                  81.00                 2.00               85.00
50%                 101.00                 4.00              105.00
75%                 135.00                 6.00              140.00
max                 337.00                36.00              339.00
sum             1399370.00             56452.00          1455822.00

In [17]:
with open("data/MultihopEvaluation/baseline-without-examplars.json", "r") as f:
    test = json.load(f)

In [18]:
print(test[0]["prompt"])
print("------------------")
print(test[0]["target"])
print("------------------")
print(test[0]["answer"])

question: Who is the mother of the director of film Polish-Russian War (Film)? context: (Wojna polsko-ruska) is a 2009 Polish film directed by Xawery Żuławski based on the novel Polish-Russian War under the white-red flag by Dorota Masłowska. He is the son of actress Małgorzata Braunek and director Andrzej Żuławski.
------------------
Małgorzata Braunek
------------------
Małgorzata Braunek